.form {
    background: #666;
}

h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 30px;
}

label {
    color: #aaa;
}

.form-error-message {
    width: 100%;
    max-width: 480px;
    background-color: #666;
    padding-top: 15px;
}

.form-error-message h3 {
    color: #6e0021;
    font-size: 18px;
    font-weight: 700;
}
